body {
  background-color: pink;
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
}

h1 {
    text-decoration: underline;
}

#myCanvas {
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

